@import "tailwindcss";

:root {
  --background: #f8f8ff;
  --foreground: #171717;
}

/* Brand theme colors */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(
      circle at 20% 20%,
      rgba(60, 25, 85, 1) 0%,
      rgba(25, 10, 60, 1) 35%,
      rgba(10, 5, 20, 1) 100%
    );
    --foreground: #eaeaea;
  }
}

/* ----- BASE BODY STYLES ----- */
body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  background: linear-gradient(
    135deg,
    rgba(105, 70, 255, 0.6) 0%,
    rgba(150, 80, 255, 0.5) 35%,
    rgba(255, 100, 255, 0.4) 100%
  );
  background-attachment: fixed;
  background-size: cover;
  transition: background 0.4s ease;
}

@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(
      circle at 10% 10%,
      rgba(60, 25, 85, 1) 0%,
      rgba(25, 10, 60, 1) 40%,
      rgba(10, 5, 20, 1) 100%
    );
    background-attachment: fixed;
  }
}
